extends layout

block content
  h1= title
  - let create = `dispatch(\"/create/create")`
  button.btn(class="btn-primary m1-1", onclick=create) Create
  - let horses=results
  div(class="container-fluid")
    div(class="row m-1")
      each horse in horses
        - let destination = `dispatch(\"/update/update?id=${horse._id}\")`
        - let detail=`dispatch(\"/detail/detail/?id=${horse._id}\")`
        - let del=`dispatch(\"/delete/delete/?id=${horse._id}\")`
        div(class="col-sm-2 "  class="m-1")  #{horse.Name} - #{horse.Cost} - #{horse.Size}
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= destination) Update
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= detail) detail
          button.btn( class="btn-primary"  class="m-1" class="btn-toolbar", onclick= del) delete
  script.
      function dispatch(path)
      {
      window.location.href=path
      }   