extends layout
block content
 h1= title
 - let horseid = toShow._id
 - let horse_Name = toShow.horse_Name
 - let horseCost = toShow.Cost
 - let horseWeight = toShow.Weight
 div
 div.row
 div(class='horseAttr mr-3') horse ID is:
 div #{horseid}
 div.row
 div(class='horseAttr mr-3') horse Name is:
 div #{horse_Name}
 div.row
 div(class='horseAttr mr-3') horse Cost is:
 div #{horseCost}
 div.row
 div(class='horseAttr mr-3') horse Weight is:
 div #{horseWeight}