extends layout

block content
  h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let horseid = toShow._id
        - let horseName = toShow.Name
        - let horseCost = toShow.Cost
        - let horseWeight = toShow.Weight
        div
        div.row
            div(class='horseAttr mr-3') horse ID is:
            div(class='variety stylesheetnew') #{horseid}
        div.row
            div(class='horseAttr mr-3') horse Name is:
            div(class='variety stylesheetnew') #{horseName}
        div.row
            div(class='horseAttr mr-3') horse Cost is:
            div(class='variety stylesheetnew') #{horseCost}
        div.row
            div(class='horseAttr mr-3') horse Weight is:
            div(class='variety stylesheetnew') #{horseWeight}